<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004584112880-4horea6t29aarfc4irj7vr57ue0jl8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004584112880-4horea6t29aarfc4irj7vr57ue0jl8j9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004584112880-ee7msv1p88ssb40494ll8fqcb0h0bsii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1vn0o66KSkM9PvrCUN-2a8LmVjba5WhA</string>
	<key>GCM_SENDER_ID</key>
	<string>1004584112880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.manzel</string>
	<key>PROJECT_ID</key>
	<string>manzel-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>manzel-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004584112880:ios:8a55e2a3bc856e9a7ae835</string>
</dict>
</plist>